.footer{
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif !important;
    margin-top: 50px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(157, 135, 135);
}
.footer p{
    color:white;
    height: 100px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
}
