
img {
    max-width: 100%;
}

.ag-format-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
}

.ag-timeline-block {
    padding: 50px 0;
}

.ag-timeline_title-box {
    padding: 0 0 30px;

    text-align: center;
}

.ag-timeline_title {
    background-color: #ffe3e3;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;

    font-size: 80px;
}

.ag-timeline_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    margin: 0 0 50px;

    position: relative;
}

.ag-timeline_item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    position: relative;
}

.ag-timeline_line {
    width: 3px;
    background-color: rgba(177, 177, 177, 0.56);

    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;

    overflow: hidden;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: rgb(255, 173, 173);;
}

.ag-timeline-card_point-box {
    margin-left: 20px;
    margin-right: 20px;
}

.ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    background-color: #1d1d1b;

    text-align: center;
    font-family: 'ESL Legend', sans-serif;
    font-size: 20px;
    color: #FFF;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.js-ag-active .ag-timeline-card_point {
    color: #1d1d1b;
    animation: circle_bomb .8s ease-in-out 1;
    box-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 0), 0 0 20px rgba(255, 0, 0, 0), 0 0 300px rgba(255, 0, 0, 0), 0 0 300px rgba(255, 0, 0, 1);
    transition: box-shadow .5s;
}

@keyframes circle_bomb {
    0% { box-shadow: 0 0 0    rgba(255, 0, 0, 1),0 0 0    rgba(255, 0, 0, 1), 0 0 0     rgba(255, 0, 0, 1), 0 0 0     rgba(255, 0, 0, 1), 0 0 0     rgba(255, 0, 0, 1), 0 0 30px  rgba(255, 0, 0, 1); }
    33% { box-shadow: 0 0 20px rgba(255, 0, 0, 1),0 0 20px rgba(255, 0, 0, 1), 0 0 20px  rgba(255, 0, 0, 1), 0 0 20px  rgba(255, 0, 0, 1), 0 0 100px 2px rgba(255, 0, 0, 1), 0 0 100px rgba(255, 0, 0, 1); }
    67% { box-shadow: 0 0 20px rgba(255, 0, 0, 1),0 0 20px rgba(255, 0, 0, 1), 0 0 800px rgba(255, 0, 0, 1), 0 0 800px rgba(255, 0, 0, 1), 0 0 200px 2px rgba(255, 0, 0, 1), 0 0 200px rgba(255, 0, 0, 1); }
    100% { box-shadow: 0 0 20px rgba(255, 0, 0, 1),0 0 20px rgba(255, 0, 0, 1), 0 0 20px  rgba(255, 0, 0, 0), 0 0 20px  rgba(255, 0, 0, 0), 0 0 300px 2px rgba(255, 0, 0, 0), 0 0 300px rgba(255, 0, 0, 1); }
}

.ag-timeline-card_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;

    background-color: #282828;

    opacity: 0;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);

    animation-fill-mode: both;

    position: relative;
}

.js-ag-animated .ag-timeline-card_item {
    opacity: 0;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.js-ag-animated.js-ag-show:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-animation-name: card-animation-left;
    -moz-animation-name: card-animation-left;
    -o-animation-name: card-animation-left;
    animation-name: card-animation-left;
}

.js-ag-animated.js-ag-show:nth-child(2n) .ag-timeline-card_item {
    -webkit-animation-name: card-animation-right;
    -moz-animation-name: card-animation-right;
    -o-animation-name: card-animation-right;
    animation-name: card-animation-right;
}

.ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #282828;

    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;

    right: auto;
    left: 0;
}

.ag-timeline-card_img {
    width: 100%;
}

.ag-timeline-card_meta-box {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_meta-box {
    text-align: right;
}

.ag-timeline-card_meta {
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
}


@-webkit-keyframes card-animation-left {
    0% {
        opacity: 0;

        -webkit-transform: translateX(-400px);
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;

        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes card-animation-left {
    0% {
        opacity: 0;

        -moz-transform: translateX(-400px);
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;

        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes card-animation-left {
    0% {
        opacity: 0;

        -o-transform: translateX(-400px);
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;

        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes card-animation-left {
    0% {
        opacity: 0;

        -webkit-transform: translateX(-400px);
        -moz-transform: translateX(-400px);
        -o-transform: translateX(-400px);
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;

        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes card-animation-right {
    0% {
        opacity: 0;

        -webkit-transform: translateX(400px);
        transform: translateX(400px);
    }
    100% {
        opacity: 1;

        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes card-animation-right {
    0% {
        opacity: 0;

        -moz-transform: translateX(400px);
        transform: translateX(400px);
    }
    100% {
        opacity: 1;

        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes card-animation-right {
    0% {
        opacity: 0;

        -o-transform: translateX(400px);
        transform: translateX(400px);
    }
    100% {
        opacity: 1;

        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes card-animation-right {
    0% {
        opacity: 0;

        -webkit-transform: translateX(400px);
        -moz-transform: translateX(400px);
        -o-transform: translateX(400px);
        transform: translateX(400px);
    }
    100% {
        opacity: 1;

        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@media only screen and (max-width: 979px) {
    .ag-timeline_line {
        left: 30px;
    }

    .ag-timeline-card_point {
        height: 50px;
        line-height: 50px;
        width: 50px;
    }

    .ag-timeline_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        position: relative;
    }

    .ag-timeline-card_meta-box {
        display: none;
    }

    .ag-timeline-card_point-box {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;

        margin-left: 8px;
    }

    .ag-timeline-card_item {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;

        max-width: 100%;
        margin-left: 10px
    }

    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }

    .js-ag-animated.js-ag-show:nth-child(2n) .ag-timeline-card_item,
    .js-ag-animated.js-ag-show:nth-child(2n+1) .ag-timeline-card_item {
        -webkit-animation-name: card-animation-right;
        -moz-animation-name: card-animation-right;
        -o-animation-name: card-animation-right;
        animation-name: card-animation-right;
    }

    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
        right: auto;
        left: 0;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

    .ag-timeline-card_img {
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 639px) {
    .ag-timeline_title {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
        width: 750px;
    }

}

@media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
        width: 960px;
    }

}
